<p>
  <strong>Name:</strong>
  <%= @Restaurant.name %>
</p>
 
<p>
  <strong>Address 1:</strong>
  <%= @Restaurant.street_address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @Restaurant.street_address_2 %>
</p>